body
{
background: #faffd1;
color:#781919;
font-family: gabriola;

}
.footer
{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
background-image: url(bg1.png);
background-position: bottom;
background-repeat: no-repeat;
background-size: 100% auto;
text-align: center;
opacity: .5;
z-index:-1;
}
.defin
{
padding: 10px 20px 10px 20px;
background: #ffffffe6;
border-radius: 0px 0px 20px 20px;
}
.greeting
{
padding-bottom: 10px;
  margin: 30px 40px 10px 40px;
  border: 3px solid #F8A11F;
  border-radius: 30px 10px 30px 10px;
  text-align: center;
}
.imgd
{
border-radius: 20px 20px 0px 0px;
}
.authForm
{
text-align: center;
margin: auto;
font-size: 30px;
border: 3px solid #F8A11F;
border-radius: 30px 30px 30px 30px;
padding: 10px 40px;
max-width: 600px;
}
.regform
{
margin: auto;
font-size: 30px;
border: 3px solid #F8A11F;
border-radius: 30px 30px 30px 30px;
padding: 10px 40px;
max-width: 800px;
}
.rloc
{
text-align: right;
width:200px;
float: left;
margin-right: 10px;
}
.buttonS
{
display: inline-block;
  color: white;
  padding: .2em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FFF6AF #000 #654215;
  border-radius: 6px;
  background: linear-gradient(#FFD318, #BA5A08) #E1A325;
  transition: 0.2s;
  width: 29%;
  text-decoration: none;
}
.buttonS:hover,.buttonS:focus
{
background: linear-gradient(#BA5A08,#FFD318) #E1A325;

text-decoration: none;
color: yellow;
}
.buttonS:visited
{
text-decoration: none;
color: yellow;
}


.eventsbox
{
border-radius: 30px 30px 30px 30px;
font-size: 24px;
border-top: 3px solid #F8A11F;
border-bottom: 3px solid #F8A11F;
max-width: 900px;
margin: 10px 30% 250px 15%;
}
.event
{
padding: 5px;
margin-bottom: 17px;
border-bottom:1px solid #F8A11F;
}
.personsbox
{
position: fixed;
left:72%;
top:10px;
border-radius: 30px 30px 30px 30px;
font-size: 24px;
border: 3px solid #F8A11F;
max-width: 300px;
padding: 10px;

}
/*.popup
{
position: fixed;
right:28%;
border: 3px solid #F8A11F;
border-radius: 30px 30px 30px 30px;
font-size: 24px;
max-width: 900px;
padding: 10px;
top:10px;
}*/

img {max-width:100%;height:auto;}

.category:hover
{
background-color: #f9cf86;
border-radius: 5px;
text-decoration: none;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;

    /*background-color: rgba(0, 0, 0, 0.65);
    position: fixed; 
    cursor: default; */
}
/* активируем слой затемнения */
/*.overlay:target {
    display: block;
}*/
/* стили модального окна */
.popup {
text-align:center;
border: 3px solid #F8A11F;
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    background: #faffd1;
    border-radius: 30px;
    font-size: 24px;

    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);

    transform: translate(-50%, -500%);

    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {

    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;

    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);

    transform: rotate(360deg);    
}

#info{
    display: none;
}


#notif{
    position:fixed;
    bottom:0;
    left: 15%;
    right: 25%;
    width:47.5%;
    z-index: 10;
    text-align: center;
    display: none;

}